In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
import math
from fractions import Fraction
import statistics
from scipy import stats

In [ ]:
data = pd.read_csv("Food_Delivery_Route_Efficiency_Dataset.csv")

# Question 2
# initial_rows = len(data["customer_zone"])
# duplicated_coutn = data["customer_zone"].duplicated().sum()

# print(f"Number Of Duplicated Rows Found:  {duplicated_coutn}")
# data["customer_zone"].drop_duplicates(inplace=True)
# rows_after_remove = len(data["customer_zone"])

# print(f"Number Of Rows Removed: {initial_rows - rows_after_remove}")


# Question 3
# null_counts = data.isnull().sum()
# print(null_counts)


# Question 4
# if "age" in data.columns and data["age"].isnull().any():
#     max_age = data["age"].max()
#     data.fillna(max_age, inplace=True)

# Question 5
# if "Salray" in data.columns and data["Salary"].isnull().any():
#     mean = data["Salary"].mean()
#     XY = (mean - np.random)**2
#     data["Salary"].fillna(XY, inplace=True)

# Question 6
variance_value = data["distance_km"].var()
print(variance_value)

# Question 7

11.369834108040202

In [20]:
data = pd.read_csv("Food_Delivery_Route_Efficiency_Dataset.csv")

print("EDA shape: ", data.shape)
print("\nEDA Preview: ")
display(data.head(8))

EDA shape:  (200, 10)

EDA Preview:

,order_id,distance_km,delivery_time_min,traffic_level,route_length_km,delivery_mode,weather,order_time,restaurant_zone,customer_zone
0,1,7.97,63.8,High,9.75,Bicycle,Clear,2025-01-01 15:29,South,North
1,2,0.90,7.6,High,1.28,Car,Cloudy,2025-01-03 00:47,West,North
2,3,11.12,78.0,Medium,16.65,Bike,Rainy,2025-01-04 17:32,South,Central
3,4,4.90,24.8,Low,5.25,Scooter,Rainy,2025-01-01 14:12,Central,Central
4,5,10.04,56.0,High,11.34,Car,Rainy,2025-01-02 16:50,West,North
5,6,10.96,76.8,High,13.62,Car,Windy,2025-01-02 09:56,West,North
6,7,9.60,54.4,Low,13.32,Bike,Windy,2025-01-03 00:29,Central,North
7,8,6.24,52.9,Low,8.41,Bike,Cloudy,2025-01-02 21:36,South,Central

In [23]:
print("Info: ")
display(data.info())

print("Describe ")
display(data.describe())

print("Missing counts per column: ")
display(data.isnull().sum())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           200 non-null    int64
 1   distance_km        200 non-null    float64
 2   delivery_time_min  200 non-null    float64
 3   traffic_level      200 non-null    object
 4   route_length_km    200 non-null    float64
 5   delivery_mode      200 non-null    object
 6   weather            200 non-null    object
 7   order_time         200 non-null    object
 8   restaurant_zone    200 non-null    object
 9   customer_zone      200 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 15.8+ KB

None

Describe

         order_id  distance_km  delivery_time_min  route_length_km
count  200.000000   200.000000         200.000000       200.000000
mean   100.500000     6.624750          44.744500         8.155850
std     57.879185     3.371918          25.083925         4.303207
min      1.000000     0.530000           2.400000         0.580000
25%     50.750000     3.687500          23.725000         4.420000
50%    100.500000     6.845000          44.650000         8.520000
75%    150.250000     9.797500          63.900000        11.800000
max    200.000000    12.000000         108.800000        17.290000

Missing counts per column:

order_id             0
distance_km          0
delivery_time_min    0
traffic_level        0
route_length_km      0
delivery_mode        0
weather              0
order_time           0
restaurant_zone      0
customer_zone        0
dtype: int64

In [ ]:
data_missing_demo = data.copy()